/* Gift List Section */

.gift-list {
    padding: 40px 0;
    color: #707070;
  }
  
  .gift-list h2 {
    font-family: "Sacramento", Arial, serif;
    font-size: 60px;
    color: #653780;
  }
  
  .gift-list .gift-list__descriptions {
    font-size: 40px;
    font-family: "Sacramento", Arial, serif;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 27px;
  }
  
  .gift-list__filters {
    display: block;
    margin-bottom: 50px;
  }
  
  .gift-list .gift-list__search input:focus {
    border-color: #653780;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }
  
  .gift-list .gift-list__sort select:focus {
    border-color: #653780;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }
  
  .gift-list .card {
    margin-bottom: 30px;
    border: 3px solid #eeeeee;
    height: 100%;
  }
  
  .gift-list .card .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .gift-list .card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    background-color: #eeeeee;
  }
  
  .gift-list .card .card-title {
    font-weight: bold;
  }
  
  .gift-list .card .btn {
    border: 3px solid #653780;
    color: #653780;
    font-size: 24px;
  }
  
  .gift-list .gift-item__price {
    color: #653780;
    margin: 10px 0;
  }
  
  .gift-list .gift-item__value {
    font-size: 34px;
  }
  
  @media (min-width: 768px) {
    .gift-list {
      padding: 80px 0;
    }
  
    .gift-list h2 {
      font-size: 70px;
    }
  
    .gift-list .gift-list__descriptions {
      margin-top: 50px;
      margin-bottom: 80px;
    }
  
    .gift-list__filters {
      display: flex;
      justify-content: space-between;
      display: flex;
    }
  
    .gift-list .card .card-body {
      padding: 20px;
    }
  }